<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Info</title>
    <!-- Include Bootstrap CSS (CDN) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Country Information</h1>

        {% if country %}
        <div class="table-responsive mt-3">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ country.name }}</td>
                    </tr>
                    <tr>
                        <th>Currencies</th>
                        <td>{{ ', '.join(country.currencies.keys()) }}</td>
                    </tr>
                    <tr>
                        <th>Capital</th>
                        <td>{{ country.capital }}</td>
                    </tr>
                    <tr>
                        <th>Region</th>
                        <td>{{ country.region }}</td>
                    </tr>
                    <tr>
                        <th>Subregion</th>
                        <td>{{ country.subregion }}</td>
                    </tr>
                    <tr>
                        <th>Languages</th>
                        <td>{{ ', '.join(country.languages.values()) }}</td>
                    </tr>
                    <tr>
                        <th>Population</th>
                        <td>{{ country.population }}</td>
                    </tr>
                    <tr>
                        <th>Timezones</th>
                        <td>{{ ', '.join(country.timezones) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% else %}
        <p>Country not found.</p>
        {% endif %}

        <div class="mt-3">
            <a href="/country" class="btn btn-danger">Back to Search</a>
            <a class="btn btn-primary" href="/random_joke">Random Joke</a>
            <a target="_blank" class="btn btn-secondary" href="/specific_joke">Specific Joke</a>
        </div>
    </div>

    <!-- Include Bootstrap JS (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
