<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Akmal's Web App Project</title>
    <!-- Include Bootstrap CSS (CDN) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Welcome to the Akmal web app project!</h1>
        <p>Explore our features:</p>
        <a target="_blank" class="btn btn-primary" href="/random_joke">Random Joke</a>
        <a target="_blank" class="btn btn-secondary" href="/specific_joke">Specific Joke</a>
        <a target="_blank" class="btn btn-danger" href="/country">Search Country</a>
    </div>

    <!-- Include Bootstrap JS (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
