<!DOCTYPE html>
<html>
<head>
    <title>Joke</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center ">Joke</h1>
                <br>
                <pre>{{ joke }}</pre>

                <a class="btn btn-primary" href="/random_joke">Random Joke</a>
                <a target="_blank" class="btn btn-secondary" href="/specific_joke">Specific Joke</a>
                <a target="_blank" class="btn btn-danger" href="/country">Search Country</a>
            </div>
        </div>
    </div>



    <!-- Add Bootstrap JS (optional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
